:root{
    --background-color:#fff;
    --text-color:#333;
    --background-color2:rgb(221, 221, 221);
    --max-z-index:999;
}
/* changePassword*/
#change-password{
    z-index:var(--max-z-index);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(51, 51, 51, 0.5);
}
.change-password-ctn{
    font-size: 1.6rem;
    border-radius: 10px;
    color: var(--text-color);
    max-width: 100%;
    width: 400px;
    margin: 50px auto auto auto;
    background-color: var(--background-color);
    padding: 30px 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: growth 0.2s linear;
    transform-origin: 50% 50%;
    position: relative;
}
.change-password__img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-bottom: 40px;
}
.change-password__account{
    width: 100%;
    position: relative;
}
.change-password__account input{
    width: 100%;
    background-color: var(--background-color);
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #999;
    outline: none;
}
.change-password__account label{
    transition: 0.5s;
    position: absolute;
    color: var(--text-color);
}
#change-password__password-null,
#change-password-new__password-null,
#change-password-new__confirm-password-null,
#change-password-new__confirm-password-false{
    position: absolute;
    right: 0px;
    transform: translateY(-50px);
}
.change-password__btn{
    transform:translateY(-50%) ;
    width: 100%;
}
.change-password__login{
    display: flex;
    justify-content: right;
    font-size: 1.2rem;
    width: 100%;
}
.change-password__login-link{
    border: none;
    outline: none;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 1.4rem;
    margin-left: 5px;
    cursor: pointer;
}
.change-password__login-link:hover{
    color: var(--primary-color);
}
#showPassword{
    position: absolute;
    top: -10px;
    right: 18px;
    padding: 3px;
    font-size: 1rem;
}
.close{
    background-color: rgb(199, 199, 199);
    position: absolute;
    padding: 10px;
    top: 10px;
    right:10px;
    border-radius: 5px;
    cursor: pointer;
}
[class*="btn"]{
    display: block;
    min-width: 80px;
    cursor: pointer;
    background-color: var(--background-color);
    border-radius: 20px;
    border:2px solid var(--primary-color);
    padding: 9px 20px
}
[class*="btn"]:hover{
    background-color: var(--primary-color);
    color: #fff;
}
.focus{
    transform: translateY(-20px);
}