*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color:#ffc107;
    --background-color:#fff;
    --text-color:#333;
}
body{
   
}
.container{
     background-color: var(--background-color);
    font-family: sans-serif;
}

/* header */
.header{
    width: 80%;

    margin: auto;
}
.header__info{

}
.header__info-list{
    padding: 10px 0;
    display: flex;
    justify-content: right;
    align-items: center;
}
.header__info-item{
    list-style: none;
    margin: 0 2px;
}
.header__info-link{
    font-size: 14px;
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 10px;
    text-align: center;
}
.header__info-item:nth-child(2){
    border-right: 1px #999 solid;
    padding-right: 10px;
}

/* header logo */
.header__logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo-img{
    margin-right:20% ;
}
.header__logo-search{
    flex: 1;
    display: flex;
    justify-content: right;
    align-items: center;
}
.header__logo-search-input{
    border:1px solid rgb(192, 192, 192);
    border-radius: 3px;
    flex: 1;
    padding: 5px;
    outline: none;
}
.header__logo-search-icon{
    color: #fff;
    border-radius: 3px;
    padding: 9px 20px;
    margin-left: 2px;
    background-color: rgb(77,144,254);
    cursor: pointer;
    font-size: 12px;
}
.header__logo-search-icon:hover{
    opacity: 0.8;
}

/* header navbar */
.header__nav{
    width: 100%;
    border-top: 1px solid #999;
    padding: 25px 0;
    
}
.header__nav-list{
    margin-left: 5%;
    display: flex;
}
.header__nav-item{
    list-style: none;
}
.header__nav-link{
    color: var(--text-color);
    text-decoration: none;
    padding: 2px 15px;
    border-right: 1px solid rgb(199, 199, 199);
    border-left: 1px solid rgb(199, 199, 199);
    font-size: 16px;
    position: relative;
    overflow: hidden;
    margin: 0 2px;
}
.header__nav-link:hover {
    color: #000;
}
.header__nav-item:first-child .header__nav-link{
    border-left: 0;
}
.header__nav-item:last-child .header__nav-link{
    border-right: 0;
}
.header__nav-link::after{
    content: "";
    position: absolute;
    width: 0;
    top: 100%;
    left: 0;
    border-top: 3px solid var(--primary-color);
    transition:0.5s;
}
.header__nav-link:hover::after{
    width: 100%;
}


/* login */
#login{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(51, 51, 51, 0.5);
    display: none;
}

.login-ctn{
    font-size: 16px;
    border-radius: 10px;
    color: var(--text-color);
    width: 400px;
    margin: 50px auto auto auto;
    background-color: #fff;
    top: 20%;
    left: 35%;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: growth 0.2s linear;
    transform-origin: 50% 50%;
}
.login__img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-bottom: 40px;
}
@keyframes growth {
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
.login__account{
    position: relative;
}
.login__account label{
    position: absolute;
    color: var(--text-color);
    transition: 0.5s;
}
.login__account input{
    padding-top:22px ;
    border: none;
    outline: none;
    border-bottom: 1px solid #999;
}
.login__account #username{
    margin-bottom: 30px;
}
.login__account #password{
    margin-bottom: 10px;
}
.login__remember-password{
    font-size: 14px;
    display: flex;
    width: 60%;
}
.login__btn{
    margin: 10px 0;
    width: 100%;
}
.login__footer{
    align-items:center ;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.login__footer-link{
    font-size: 14px;
    border: none;
    background-color: var(--background-color);
    color: var(--text-color);
}
.login__footer-link:hover{
    color: var(--primary-color);
}
.login__sign-up{
    font-size: 12px;
    display: flex;
    justify-content: right;
    width: 100%;
    margin: 30px 0 0 0;
}
.login__sign-up button{
    font-size: 14px;
    margin-left: 10px;
}
.login__sign-up-link{
    border: none;
    outline: none;
    color: var(--text-color);
    background-color: var(--background-color);
    cursor: pointer;
}
.login__sign-up-link:hover{
    color: var(--primary-color);
}
.focus{
    transform: translateY(-25px);
}

/* sign up */
#sign-up{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(51, 51, 51, 0.5);
}
.sign-up-ctn{
    font-size: 16px;
    border-radius: 10px;
    color: var(--text-color);
    width: 400px;
    margin: 50px auto auto auto;
    background-color: #fff;
    top: 20%;
    left: 35%;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: growth 0.2s linear;
    transform-origin: 50% 50%;
}
.sign-up__img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-bottom: 40px;
}
.sign-up__account{
    position: relative;
}
.sign-up__account input{
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #999;
    padding-top: 22px ;
    outline: none;
}
.sign-up__account label{
    transition: 0.5s;
    position: absolute;
}
.sign-up__btn{
    transform:translateY(-50%) ;
    width: 100%;
}
.sign-up__footer{
    margin-top: 10px;
    display: flex;
    font-size: 12px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.sign-up__login-link{
    border: none;
    outline: none;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 14px;
    margin-left: 5px;
    cursor: pointer;
}
.sign-up__login-link:hover{
    color: var(--primary-color);
}
/* btn */

[class*="btn"]{
    min-width: 80px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 20px;
    border:1px solid #ffc107;
    padding: 9px 20px
}
[class*="btn"]:hover{
    background-color: #ffc107;
    color: #fff;
}
.btn-sign-in{

}
.btn-sign-up{

}